body{
    font-family: 'Oswald', sans-serif;
}
.imagewidth img{
    width: 100%;
    height: 400px;

}
.text h3{
    text-align: center;
    color: green ;
}
.text p{
    text-align: justify;
}
.text1{
    text-align: center;
}
.codeof{
    color:rgb(65, 52, 75);
    text-align: center;
}
.back {
    background-color: blueviolet;
    color: burlywood;
    
    
}